<h1><%= @book.title %></h1>
<%= render "books/form" %>
<%= form_tag "/books/#{@book.id}", method: "delete" do %>
  <input type="submit" value="Supprimer le livre" />
<% end %>

<p><a href="/books">Retourner à l’index</a></p>
